@using Jueci.MobileWeb.Common.Enums
@using Jueci.MobileWeb.Web.Models.Common
@{
    string cpType = ViewBag.CpType;
    PlanLibState planLibState = ViewBag.PlanState;

}

<div data-role="header" data-theme="c" data-position="inline">
    @*<h1>重庆时时彩计划分享</h1>*@
    <h1 style="min-width: 200px; margin: 0 auto">
        @if (planLibState == PlanLibState.Team)
        {
            @Html.Raw(ViewBag.PlanTitle + "-" + ViewBag.SubPlanTitle)
        }
        else
        {
            <a href=@ViewBag.OfficialWebsite style="color: #FFFFFF; margin-left: 30px; text-decoration: none; font-size: 14px;">@Html.Raw(ViewBag.PlanTitle) - @Html.Raw(ViewBag.SubPlanTitle)</a>
        }
        @if (planLibState != PlanLibState.Team)
        {

            <span class="fr">
                <i class="fa fa-download" style="padding-top: 1px"></i>
                <a href="@ViewBag.DownloadApp" style="color: #FFFFFF; text-decoration: none; font-size: 12px; margin-right: 10px">下载App</a>
            </span>
            <div class="clearfix"></div>
        }

    </h1>
    @Html.Action("Clock", cpType, new { ClockPage = ClockPage.HomePage })
</div>
