@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Jueci.MobileWeb.Web.Views
@{
    SetAntiForgeryCookie();
    bool isHomePage = ViewBag.IsHomePage ?? false;
    string cpype = ViewBag.CpType;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="~/favicon.ico">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Bundles/vendor/css")
    <link href="~/Content/ssc/layout.css" rel="stylesheet"/>

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->

    @Scripts.Render("~/Bundles/vendor/js")

</head>
<body>

<div data-role="page">
    <div id="wrap">
        @if (isHomePage)
        {
            @Html.Partial("_HeadCloth")
        }
        @*else if (isAccessCodePage)
        {
            @Html.Partial("_HeadAccessCode")
        }*@
        else
        {
            @Html.Partial("_HeadCommon")
        }
        @Html.Hidden("cptype",cpype)
        <div data-role="content" class="content-body">
            @RenderBody()
        </div>
    </div>
  
</div>
    <!-- View specific scripts -->
@RenderSection("scripts", required: false)
</body>
</html>
