@using Jueci.MobileWeb.Web.Models.UserPlanDetail
@model IList<Jueci.MobileWeb.Lottery.Models.Transfer.UserPlanDetail>

@{
    int tabIndex = 1;
}
@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Abp/Lib/jquery.mobile/jquery.mobile-1.4.5.js"></script>
    <script src="~/Scripts/jueci/loader.js"></script>
}

@foreach (var item in Model)
{
    <div id="@Html.Raw(string.Format("tab{0}",tabIndex))" class="ui-body-a ui-content tab-container" style="background: #ffffff; padding: 0 0;">
        <div id="@Html.Raw(string.Format("tab-section1-{0}",tabIndex))" class="tab-section1">          

            @Html.Partial("~/Views/Plan/_UserPlanDetailClock.cshtml", new UserPlanDetailClock(tabIndex,item))
        </div>
        <div id="@Html.Raw(string.Format("tab-section2-{0}", tabIndex))" class="tab-section2">

            @Html.Partial("~/Views/Plan/_UserPlanDetailInfo.cshtml", item)
        </div>
        <div class="tab-section-space"></div>
        <div id="@Html.Raw(string.Format("tab-section3-{0}", tabIndex))" class="tab-section3">
            
            @Html.Partial("~/Views/Plan/_UserPlanDetailList.cshtml", item)
        </div>
    </div>

    tabIndex++;
}

