@model Jueci.MobileWeb.Lottery.Models.Transfer.UserPlanDetail
@{
    int j = 1;
}

<div class="tab-section2-line">
    <div class="fl tab-section2-sect"><span>准确率</span><span class="font-emphasize">@Html.Raw(string.Format("{0}%", Model.RightRate * 100))</span></div>
    <div class="fl tab-section2-sect"><span>最大连对</span><span class="font-emphasize">@Model.MaxAlwaysRight</span></div>
    <div class="fl tab-section2-sect"><span>最大连错</span><span class="font-emphasize">@Model.MaxAlwaysWrong</span></div>
    <div class="fl tab-section2-sect"><span>当前连对/错</span><span class="font-emphasize">@Model.CurrentROrW</span></div>
    
    @foreach (var rightTime in Model.RightTimes)
    {
        <div class="fl tab-section2-sect">
            <span>@Html.Raw(string.Format("第{0}期中", j))</span>
            <span class="font-emphasize">@Html.Raw(string.Format("{0}次", rightTime))</span>
        </div>
        j++;
    }
   
    <div class="clearfix"></div>
</div>

@*<div class="tab-section2-line">
   
    <div style="clear: both"></div>
</div>*@
