@model Jueci.MobileWeb.Lottery.Models.Transfer.UserPlanDetail

@if (Request.IsAjaxRequest())
{
    <link href="~/Abp/Lib/jquery.mobile.bootstrap/themes/Bootstrap.min.css" rel="stylesheet">
    <link href="~/Abp/Lib/jquery.mobile/jquery.mobile.structure-1.4.5.min.css" rel="stylesheet">
    <link href="~/Abp/Lib/jquery.mobile.bootstrap/themes/jquery.mobile.icons.min.css" rel="stylesheet">
    <link href="~/Content/ssc/layout.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Abp/Lib/jquery.mobile/jquery.mobile-1.4.5.js"></script>
}

<ul data-role="listview" class="tab-lv" data-divider-theme="a">
    @foreach (var lvItem in Model.PlanDetails.Take(Model.PlanDetails.Count - 1).OrderByDescending(p => p.CurrentCycleName))
    {
        <li data-icon="false">
            <div class="ui-content-trans">
                <div class="tab-lv-item-first">
                    <span>@lvItem.CycleName</span>
                    <span class="font-emphasize">预</span>
                    <span>@lvItem.GuessValue</span>
                </div>
                <div class="tab-lv-item-second fr">
                    <span class="number-circle number-circle-blue-small">@lvItem.EndIndex</span>
                    <span>@Html.Raw(string.Format("{0}期", lvItem.CurrentCycleName))</span>
                    <span class="font-blue">开</span>
                    <span class="font-blue">
                        @lvItem.LotteryResultDisplay
                    </span>
                    <span class="@Html.Raw(lvItem.RightOrWrong.Equals("对") ? "font-right" : "font-emphasize")">
                        @lvItem.RightOrWrong
                    </span>
                </div>
            </div>
        </li>
    }

</ul>

